@import 'src/assets/scss/main.scss';

.fetch-spinner {
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.20);

  > span {
    align-self: center;
    margin-bottom: 5rem;
  }
}
