@import 'src/assets/scss/main.scss';

.secrets {
  tr {
    cursor: pointer;
  }

  tr:first-child {
    border-top-width: 1px;
  }

  .username {
    font-size: 0.85rem;
    color: #777777;
  }
}

h1 {
  text-align: center;
}

h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}