@import 'src/assets/scss/main.scss';

.secrets {
  tr {
    cursor: pointer;
  }

  tr:first-child {
    border-top-width: 1px;
  }

  .username {
    font-size: 0.85rem;
    color: #777777;
  }
}

h1 {
  text-align: center;
}

h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secrets-spinner {
  color: $color-1;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 50px;

  svg {
    cursor: pointer;
    font-size: 30px;
    margin: auto;
  }

  svg:hover {
    color: #777777;
    transition: $transition;
  }
}